/* reset */
/* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html{height: 100%;}
/* end reset*/

/*ИЗМЕНИТЬ*/
body {
    height: 100%;
	font-size: 13px;
    background-color: #f1efed;
    color: #212121;
}
ol, ul {list-style: none;}

* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}

/*убираем отступы в бутстрап*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/* переопределение стилей бутстрапа */
.row {
    margin-left: 0;
     margin-right: 0;
}

.center {
    width: 1500px;
    margin: 0 auto;
}
.header-top {
    font-size: 14px;
}

li a{
    float: left;
    margin: 16px 25px 16px 0;   
    color: #212121;
}
li a:focus {
    text-decoration: none;
}
.col-lg-5 p {
     margin: 16px 25px 16px 0;
}
span.delivery {
    background-color: #165aa7;
/*
    height: 34px;
    width: 160px;
*/
    padding: 5px 5px;
    color: #fff;
}
.authorization, .entry {
    float: left;
    margin: 16px 0 0 0;
}
.authorization a, .entry a {
    color: #212121;
}
.authorization {
    margin-right: 35px;
}

/* --------header-main-------- */
.header-main {
    background-color: #fff;
}
.logo img {
    margin: 15px 0 0 0;
}
a.phone-title {
    border-bottom: 1px dotted #1a5eab;
    margin-left: 85px;
}
img.phone-icon {
    margin-right: 10px;
}
img.phone-triangle {
    margin-left: 10px;
}
p.phone {
    font-size: 19px;
    font-weight: bold;
    margin: 30px 0 0 60px;
}
p.work-time {
    font-size: 12px;
}
p.work-time {
     margin: 35px 0 0 0;
}
/* _________SEARCH__________ */
.search {
    float: left;
    display: inline-block;
    width: 520px; /* Ширина поля с кнопкой */
    border: 1px solid #f1f3f6; /* Параметры рамки */
    height: 35px; /* Минимальная высота */
    margin: 30px 0px 0px 0px;
    padding: 0;
   }

 input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 485px; /* Ширина поля */
     height: 35px;
    vertical-align: text-bottom; /* Выравнивание */
      border: 1px solid #ccc;
   }
   input[type="submit"] {
   /* width: 20px;  Ширина кнопки */
    /*height: 24px;  Высота кнопки */
    /*border: none;  Убираем рамку */
    background: url(../img/search.png) no-repeat 50% 50%; /* Параметры фона */
/*    margin: 0px  0px 0px 480px;*/
       float: right;
/*       margin: 0px 5px 0 0;*/
       border: 1px solid #e6e6e6;
       padding: 15px 15px 0 15px;
   }
/*изменение стиля текста в текстовом поле*/
::-webkit-input-placeholder { 
    color: #a1a1a1;
    padding-left: 12px;
    font-size: 13px;
}
::-moz-input-placeholder {
    color: #a1a1a1;
    padding-left: 12px;
    font-size: 13px;
}

/* ________FAVORITES__________ */
.favorites, .basket {
    margin: 35px 0 0 0px ;
}
.favorites {
    margin: 35px 0 0 50px ;
}
.favorites img {
    float: left;
    padding-top: 5px;
}
.favorites-title {
    font-size: 15px;
    font-weight: bold;
   
}
.favorites p {
 margin-left: 35px;
    margin-top: -5px;
}

/* ________BASKET__________ */
 .basket {
    margin-left:  0px ;
}
 .basket img {
    float: left;
    padding-top: 5px;
}
 .basket-title {
    font-size: 15px;
    font-weight: bold;
   
}
 .basket p{
 margin-left: 35px;
    margin-top: -5px;
}

/* ___------------------_____CONTENT_____-------------------_____ */
#content .center {
    margin-top: 14px;
}
#content .center {
    background-color: #fff;
}
/* ________ CATALOG __________ */
/* CSS Only Menu   http://ruseller.com/lessons.php?rub=2&id=2031  -->  http://jsfiddle.net/Cerebrl/uhykY/ */

.сatalog {
height: 40px;
    width: 182px;
    background-color: #0f5098;  
}
    
.category li {
    float: left;
}  
.сatalog-child a {
   margin: 0px;
    padding: 15px 7px 0 14px;
}
.сatalog-font{
    color: #fff;
    font-size: 17px;
}  
.сatalog-home a {
    margin: 0px;
    padding: 10px 7px 0 14px;
}

.сatalog img {
    margin-top: 2px;
}

.separator {
   float: left;

     padding: 17px 0px 0 5px;
   /* margin-top: 50px;
*/
}

/*-------- ITEM ---------*/
.item-title h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}

.item-img {
    border: 1px solid #ebebeb;
    text-align: center;
    padding: 0px 0 0px 0;
}
.item-price {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin:  0 0 0 25px;
}
.item-price sup {
    font-size: 13px;
    vertical-align: super;
}
p.in-ctock {
    color: #1c9708;
    font-weight: lighter;
    text-align: left;
    margin:  0 0 25px 25px;
}
.item-description{
    margin-left: 20px;
}
.border-1 {
     border: 1px solid #ebebeb;
    border-bottom: none;
}
.border-2 {
     border: 1px solid #ebebeb;
    border-top: none;
     //padding-top: 16px; 
}
hr {
    width: 685px;
    margin-left: 28px;
    margin-top: 5px;
}


/* ------ carrying-select -------*/
.carrying-select {
   font-size: 20px;
    float: left;
    padding-left: 30px;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;

}
.carrying-select select[size] {
    width: 130px;
    height: 45px;
    margin-top: 12px;
    border: 1px solid #ebebeb;
    background: -moz-linear-gradient(#fff, #efeeee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#efeeee));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#efeeee');
}
.carrying{
    margin-top: 20px;
    float: left;
    padding-left: 30px;
    font-size: 15px;
}
.article {
    font-size: 12px;
    margin-top: -40px;
    margin-left: 140px;
}

/* ------ BUTTON -------*/
.button-wrap li {
    float: left;
    font-size: 17px;
}
 button.add-in-basket {
    background: -moz-linear-gradient(#86c500, #4f9e00);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#86c500), to(#4f9e00));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86c500', endColorstr='#4f9e00');
    padding: 11px 30px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: none;
    border-bottom: 3px solid #3c7a00;
    color: #fff;
     margin-left: 17px;
   }
button.buy {
    background: -moz-linear-gradient(#1a5eab, #0d4e98);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1a5eab), to(#0d4e98));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a5eab', endColorstr='#0d4e98');
    padding: 11px 15px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: none;
    border-bottom: 3px solid #043d7e;
    color: #fff;
    margin-left: 7px;
   }

/* quantity */
#myform {
/*    text-align: left;*/
    padding: 0px;
/*    border: 1px dotted #ccc;*/
/*    margin: 2%;*/
}
.qty {
    width: 40px;
    height: 47px;
    text-align: center;
}
input.qtyplus, input.qtyminus {
    width:15px;
    height:25px;
    border: none;
    background-color: #fff;
}

/* ----- specifcation ------*/
.specification-title h3{
    font-size: 16ps;
    font-weight: bold;
    margin: 20px 0 0px 0px;
}
.specification, .specification-title {
    float:left;
    text-align: left;
}
.specification h4 {
font-weight: bold;
margin: 0px 0px 0px 0px;
}
.specification h4 {

margin: 15px 0px 0px 0px;
}

/* ________ additional-item __________ */
h3.related-items {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.related-item {
border-bottom: 1px solid #f2f2f1;
}
h3.related-items img {
padding:3px 10px 0px 20px;
}
.related-item-img,.related-item-title {
    float: left;
}
.related-item-price {
    float: right;
     margin: 10px 20px 0 15px;
    padding: 5px 15px 5px 15px;
    background-color: #fff9e8;
}
.related-item-title{
    width: 120px;
    height: auto;
    margin: 12px 0 0 15px;
}
.related-item-img {
    margin: 10px 0px 0px 27px;
}
.item-price-1 {
   font-size: 16px;
    font-weight: bold;
}
.item-price-2 {
   font-size: 13.5px;
}

/* ________ info __________ */
.info-wrap {
    margin: 10px 0 0 40px;
    width: 220px;
}
.info-wrap-1 {
   margin: -100px 0 0 40px; 
   width: 220px;
}
.info-img, .info-title, .info-question {
    float: left;
    display: inline-block;
}
.info-title h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 10px 8px 15px;
/*
    line-height: 30px;
    vertical-align: top;
*/
}
.info-question {
    margin-top: 5px;
}
.info-description {
    margin-bottom: 15px;  
}
.info-description, .info-ukraine{
    margin-left: 40px;
}
a.info-ukraine, a.info-dnepr  {
    margin-bottom: 12px;
/*     margin-top: 17px;*/
    display: inline-block;
    font-weight: bold;
}
.info-dnepr {
    margin-top: 10px
}


/* ________ tabs __________ */
/* https://habrahabr.ru/sandbox/91471/ 
http://jsfiddle.net/du9cbd9j/
*/
.tabs{
    display:inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
/*    background:#46c765;*/
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background:#fff;
    color:#1a5eab;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-top: 4px solid #fff;
    font-size: 14px;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#fff;
    color:#121212;
    border-top: 4px solid #165aa7;
}
.tabs ul li:hover{
    background:#d6d6d7;
    border-top: 4px solid #d6d6d7;
}

/* tabs content*/
.tabs {
    margin-top: 55px;
    margin-left: 10px;
}
.tabs p {
    margin-bottom: 33px;
   // margin-right: 10px;
}
.tabs ul {
    margin-bottom: 15px;
}





/* ________ looked __________ */
.looked-wrap {
    background-color: #f1efed;
}
.looked-title-1, .looked-title-2 {
    text-transform: uppercase;

}
.looked-title-1 {
    font-size: 25px;
    color: #4f4f4f;
    padding-top: 10px;
}
.looked-title-2 {
    font-size: 48px;
    font-weight: bold;
    color: #1a5eaa;
    padding-bottom: 10px;
}
.looked-items {
    height: 400px;
    width: 1500px;
}
.background-img {
    padding-top: 0px;
}
.background-img {
   // background: url(../img/background-img.png) no-repeat ;  /* Параметры фона */
    //  background-position: left center; /* Положение фона */
      //background-position: 3% 45%;
     //background-color: #f4f4f5;
}

/* _________ carousel __________ */

.carousel li a {
    margin: 0px 10px 16px 10px;
    width: 210px;
}
.carousel-img {
    height: 255px;
    width: 250px;
    border-bottom: 1px solid #f1efed;
}
.carousel-img a img {
    padding-left: 10px;
}
.ot {
    font-size: 16px;
}
.carousel-price {
    font-size: 30px;
    font-weight: bold;
}
.carousel-price sup{
    font-size: 16px;
    font-weight: normal;
}
.carousel li p {
    margin-left: 10px;
}
.carousel li h4 {
    margin: 22px 0 22px 0;
    font-size: 18px;
    color: #30609f;
}
.carousel li h4 a{
    color: #30609f;
}
.stok {
    color: #4fa746;
    font-size: 16px;
}

/* ____-----------------------____ footer ___-------------------_______ */
.footer-wrap {
     color: #fff;
}
.footer-wrap .footer-top{
     margin-top: 50px;
}
.footer-top {
   height: 215px; 
    width: auto;
    background-color: #0e4f97;
}
.footer-bottom {
   height: 50px;
    width: auto;
    background-color: #f1efed;
}
.footer-menu a {
    color: #fff;
   // margin: 18px 0px 18px 0px;
}
.footer-menu li a{
    margin: 7px 40px 0px 0px;
}
li.last-li {
 //   margin-bottom: 0;
}
.footer-title {
    color: #ffc000;
    font-size: 18px;
    margin-bottom: 15px;
}
li.footer-title {
    margin-top: 15px;
     margin-bottom: 20px;
}
.footer-menu-1 {
    margin: 59px 0 0 15px;
}

.footer-phone{
    font-size: 19px;
    font-weight: bold;
    margin-top: 59px;
}
.footer-phone li{
margin-bottom: 8px;
}
.footer-location {
    font-size: 13px;
    font-weight: normal;
}
.footer-phone img {
    margin-left: 60px;
    margin-right: 14px;
}
.footer-phone-1 {
    margin-left: 92px;
}

.footer-serch-wrap {
    height: 100px;
    width: 550px;
    border: 1px solid #fff;
    padding: 17px 19px 17px 19px;
    margin-top: 50px;
    margin-left: 58px;
}

/* _________FOOTER-SEARCH__________ */
.footer-search {
    float: left;
    display: inline-block;
    width: 510px; /* Ширина поля с кнопкой */
    border: 1px solid #f1f3f6; /* Параметры рамки */
    height: 35px; /* Минимальная высота */
    margin: 15px 0px 0px 0px;
    padding: 0;
   }

 .footer-search input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 404px; /* Ширина поля */
     height: 35px;
    vertical-align: text-bottom; /* Выравнивание */
      border: 1px solid #ccc;
     color: #111;
      background: url(../img/letter.png) no-repeat ;  /* Параметры фона */
     // background-position: left center; /* Положение фона */
      background-position: 3% 45%;
     background-color: #f4f4f5;
   }
   .footer-search input[type="submit"] {
   /* width: 20px;  Ширина кнопки */
    /*height: 24px;  Высота кнопки */
    /*border: none;  Убираем рамку */
    background: url(../img/subscribe-button.png) no-repeat 150% 150% ;  /* Параметры фона */
/*    margin: 0px  0px 0px 480px;*/
       float: right;
       margin: 0px 0px 0 0;
       border: 1px solid #ffbf00;
       padding: 15px 15px 0 85px;
   }
/*изменение стиля текста в текстовом поле*/
::-webkit-input-placeholder { 
    color: #a1a1a1;
    padding-left: 32px;
    font-size: 13px;
}
::-moz-input-placeholder {
    color: #a1a1a1;
    padding-left: 22px;
    font-size: 13px;
}
.footer-bottom {
    color: #212121;
    padding-top: 20px;
}
.develop {
    float: right;
}

.button-up {
    margin: 35px 0 0 525px;
}



/*
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    border: 1px solid red;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    border: 1px solid green;
}
.row {
    border: 1px solid green;
    z-index: 100;
}
*/
